.red{
	background-color: #B0C4DE;
	color:#fff !important;
}

.renk1{
	background-color: #2a3042;
}

.renk2{
	background-color: #2a3042;
}

.renk3{
	background-color: #2a3042;
}

.renk4{
	background-color: #2a3042;
}

.media p {
	color: #fff !important;
}

.media h4 {
	color: #fff !important;
	font-size: 30px;
}

.lira {
	padding: 0px !important;
} 
